version: '3'
services:
  cloud-deploy:
    build: ./docker
    hostname: ${PROJECT-cloud-deploy}
    # network_mode: host
    environment:
      - PROJECT=${PROJECT}
      
    volumes:
      - ./hosts:/etc/ansible/hosts
      - ./data/.ssh:/tmp/.ssh
      - ./:/cloud-deploy

